
.container_p{
    background-image: url('../../Img/pokemon-in-the-wild.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.div_Home_container{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 460px 460px 460px;
    /* padding: 2em 0em; */
    margin: 2em 7%;
}

  .div_container_paginado{
    display: block;
  }