
@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
/* From uiverse.io by @JoseIsra */
.card {
    width: 200px;
    cursor: pointer;
    border-radius: 7%;
  }
  
  .content {
    text-align: center;
    position: relative;
    transition: all 1.25s;
    height: 350px;
    background-image: url('../../Img/Card_Front.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 7%;
    outline: #4f20f870 solid 0.5px;
  }
  
  .card:hover .content {
    transform: rotateY(0.5turn);
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 1em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 7%;
    backface-visibility: hidden;
  }
  .title,
  .title_2 {
    transform: translateZ(5rem);
    color: #ffcb05;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 1.4pt;
    backface-visibility: hidden;
    -webkit-text-stroke: 1pt #1d2c5e;
    text-shadow: 0 0 5px #1d2c5e;
  }

  .title_2{
    font-size: 1.2rem
  }

  .back {
    transform: rotateY(0.5turn);
    outline: #ff000db6 solid 1px;
    /* background-color: #009bff;*/
    background-image: url('../../Img/Card_Back.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .description {
    transform: translateZ(3rem);
    backface-visibility: hidden;
    color: rgb(255, 255, 255);
    font-size: 1.1rem
  }

  .back img{
    border-radius: 50px;
  }
