.nav_comp{
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  background-color: #343A40;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 3px;
  position: fixed;/*se posiciona en base al navegador y no se pierde su posicion al hacer scroll*/
  z-index: 1;/*todos los elementos posicionados quedan atras de este*/
  
}
.h1_nav{
  text-align: center;
  margin-left: 25px;
  color: #ffffff;
}

.logo{
  width: 70px;
  margin: auto;
  margin-left: 0px;
  /* outline: red solid 1px; */
}

.div_logo{
  flex-grow: 1;
  /* outline: red solid 1px;*/
} 

.div_search{
  flex-grow: 6;
}

.div_btn{
  margin-right: 10px;
}

.form{
  margin:auto;
}

/* .button_icon{
  background-color: rgba(253, 253, 253, 0);
  cursor: pointer;

} */

/* div{
  outline: red solid 1px;
} */

/* From uiverse.io by @felipesntr */
 .create_btn {
  border: none;
  /* border: none 2px solid #1e3650; */
  background-color: #3a4a5e;
  border-radius: 30px;
  padding: 0.3em 1em 0.3em 0.8em;
  transition: all ease-in-out 0.2s;
  font-size: 0.8rem;
 }
 
 .create_btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
 }
 
 .create_btn:hover {
  background-color: #0071e200;
  border: 1px solid #1b9bee;
 }